.CommentsListInputContainer {
  display: flex;
  justify-content: center;
}

.CommentsListInput {
  margin-top: 20px;
  border: 2px solid brown;
  height: 2rem;
}

.CommentsListContainer {
  height: 570px;
  overflow-y: scroll;
}
