.CommentForm {
  margin-top: 6rem;
}

.CommentForm-Button {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 10rem;
}

.CommentFormInputField {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.CommentFormInputEmail {
  width: 10%;
}
.CommentFormInputMessage {
  width: 40%;
}

.CommentFormLabel {
  display: flex;
  justify-content: center;
}
