.Comment {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.CommentsText {
  width: 30rem;
}

.CommentsEmail {
  font-size: 12px;
}
.CommentsDate {
  font-size: 12px;
}
